APP_NAME=Platform
APP_ENV=production
APP_KEY=base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
APP_DEBUG=false
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=${PLATFORM_DB_HOST}
DB_PORT=3306
DB_DATABASE=${PLATFORM_DB_NAME}
DB_USERNAME=${PLATFORM_DB_USER}
DB_PASSWORD=${PLATFORM_DB_PASSWORD}

CACHE_DRIVER=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync

LOG_CHANNEL=stderr
